@import '../../node_modules/normalize.css/normalize.css';

@font-face {
  font-family: "Clash Display";
  src: url("../../fonts/ClashDisplay-Medium.otf") format(woff);
  font-weight: 500;
}

@font-face {
  font-family: "Clash Display";
  src: url("../../fonts/ClashDisplay-Regular.otf") format(woff);
  font-weight: 400;
}

@font-face {
  font-family: "Clash Display";
  src: url("../../fonts/ClashDisplay-Semibold.otf") format(otf);
  font-weight: 600;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 400;
  background-color: #0C102D;
  color: #fff;
  overflow-x: hidden;
}

.body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/background-header.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.body::after {
  content: "";
  position: absolute;
  top: 435px;
  left: 0;
  width: 100%;
  height: 385px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-4.71%, rgba(12, 16, 45, 0)), color-stop(97.38%, #0C102D));
  background-image: -o-linear-gradient(top, rgba(12, 16, 45, 0) -4.71%, #0C102D 97.38%);
  background-image: linear-gradient(180deg, rgba(12, 16, 45, 0) -4.71%, #0C102D 97.38%);
}

.container {
  max-width: 1270px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header--background {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-4.71%, rgba(12, 16, 45, 0.28)), color-stop(97.38%, #0C102D));
  background-image: -o-linear-gradient(top, rgba(12, 16, 45, 0.28) -4.71%, #0C102D 97.38%);
  background-image: linear-gradient(180deg, rgba(12, 16, 45, 0.28) -4.71%, #0C102D 97.38%);
}

.header__wrapper {
  position: relative;
  z-index: 1;
  margin-bottom: 200px;
}

.header__wrapper::before {
  content: "";
  position: absolute;
  top: 390px;
  right: -230px;
  width: 356px;
  height: 356px;
  background-color: #2A3E84;
  -webkit-filter: blur(175px);
          filter: blur(175px);
}

.header__wrapper::after {
  content: "";
  position: absolute;
  top: 500px;
  left: -60px;
  width: 356px;
  height: 356px;
  background-color: #2A3E84;
  -webkit-filter: blur(175px);
          filter: blur(175px);
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
  margin-bottom: 85px;
}

.nav__wrapper {
  width: 525px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.line {
  padding: 0;
  margin: 0;
}

.nav__line:last-of-type {
  margin-right: 0;
}

.link {
  color: #fff;
  text-decoration: none;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__title {
  font-family: "Clash Display", sans-serif;
  font-size: 150px;
  font-weight: 600;
  line-height: 180px;
  padding: 0;
  margin: 0;
}

.header__title:first-of-type {
  margin-right: 55px;
}

.header-text {
  width: 360px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  padding: 25px 35px;
  margin: 0;
  color: #0A1482;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1FF2FF), color-stop(52.66%, #27F9E5), to(#2FFFCD));
  background-image: -o-linear-gradient(top, #1FF2FF 0%, #27F9E5 52.66%, #2FFFCD 100%);
  background-image: linear-gradient(180deg, #1FF2FF 0%, #27F9E5 52.66%, #2FFFCD 100%);
  border-radius: 8px;
  cursor: pointer;
  border: none;
  outline: none;
}

.header.button {
  margin-right: 25px;
}

.button:hover {
  color: #3B48D0;
}

.button:active {
  color: #fff;
}

.button:disabled {
  color: #0A1482;
  opacity: 0.4;
}

.header__span {
  position: absolute;
  font-family: "Clash Display", sans-serif;
  font-size: 32px;
  line-height: 38.4px;
  font-weight: 600;
  bottom: 0;
  right: 45px;
}

.main {
  position: relative;
  z-index: 1;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: -1;
}

.star {
  position: absolute;
  width: 35px;
  height: 40px;
  padding: 0;
  margin: 0;
  background-image: url("../images/icons/star.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  -webkit-transform: rotate(-170deg);
      -ms-transform: rotate(-170deg);
          transform: rotate(-170deg);
}

.about-us__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-bottom: 180px;
}

.about-us__starts {
  height: 100%;
}

.about-us__star:first-of-type {
  top: 55px;
  left: 215px;
  width: 19px;
  height: 22px;
}

.about-us__star:nth-of-type(2) {
  top: 0;
  left: 615px;
  width: 15px;
  height: 17px;
}

.about-us__star:nth-of-type(3) {
  top: 15px;
  left: 880px;
  width: 15px;
  height: 17px;
}

.about-us__star:nth-of-type(4) {
  top: -154px;
  right: -267px;
  width: 344px;
  height: 348px;
  background-image: url("../images/icons/star-shadow.svg");
}

.about-us__star:nth-of-type(5) {
  top: 400px;
  left: -8px;
  width: 15px;
  height: 17px;
  background-image: url("../images/icons/star-white.svg");
}

.about-us__star:nth-of-type(6) {
  top: 565px;
  left: 860px;
  width: 15px;
  height: 17px;
}

.about-us__star:nth-of-type(7) {
  bottom: -100px;
  right: 215px;
  width: 15px;
  height: 17px;
}

.about-us__wrapper::before {
  content: "";
  position: absolute;
  top: 515px;
  right: -100px;
  width: 398px;
  height: 398px;
  background-color: #192065;
  -webkit-filter: blur(175px);
          filter: blur(175px);
}

.about-us__wrapper::after {
  content: "";
  position: absolute;
  right: -265px;
  bottom: 20px;
  width: 757px;
  height: 185px;
  background-image: url("../images/icons/front.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.about-us__title-wrapper {
  text-align: center;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0;
  margin-bottom: 55px;
}

.title {
  font-family: "Clash Display";
  font-size: 72px;
  line-height: 86.4px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.about-us__left {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 15px;
  max-width: 605px;
}

.about-us__left::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 100px;
  width: 394px;
  height: 156px;
  background-image: url("../images/icons/lines.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.small-title {
  font-family: "Clash Display";
  font-size: 32px;
  line-height: 38.4px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.about-us-small-title {
  margin-bottom: 170px;
}

.mentors-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.mentor-card {
  width: 185px;
  margin-right: 20px;
}

.mentor-card:last-of-type {
  margin-right: 0;
}

.mentor-card--margin {
  margin-top: -50px;
}

.mentor-card__image-wrapper {
  width: 100%;
  height: 184px;
  overflow: hidden;
  padding: 2px;
  margin: 0;
  margin-bottom: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100%;
  background-image: -o-linear-gradient(297.86deg, rgba(21, 191, 253, 0.7) 9.96%, rgba(156, 55, 253, 0.7) 100%);
  background-image: linear-gradient(152.14deg, rgba(21, 191, 253, 0.7) 9.96%, rgba(156, 55, 253, 0.7) 100%);
}

.mentor-card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}

.mentor-card__title {
  font-family: "Clash display";
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.text {
  padding: 0;
  margin: 0;
}

.about-us-right {
  margin: 0;
  margin-top: 105px;
  max-width: 485px;
}

.technologies__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  margin-bottom: 184px;
}

.technologies__wrapper::before {
  content: "";
  position: absolute;
  top: 305px;
  left: -75px;
  width: 398px;
  height: 398px;
  background-color: #2A3E84;
  -webkit-filter: blur(175px);
          filter: blur(175px);
}

.technologies__starts {
  height: 50px;
}

.technologies__star {
  top: -21px;
  right: -37px;
}

.technologies-title {
  max-width: 545px;
  margin-bottom: 15px;
}

.technologies__text {
  font-size: 16px;
  line-height: 22.4px;
  width: 435px;
  margin: 0;
  margin-bottom: 55px;
}

.technologies__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.technologies__line {
  position: relative;
  width: 180px;
  padding: 25px 10px;
  margin: 0;
  margin-right: 25px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 16px;
}

.technologies__icon-wrapper {
  margin: 0;
  margin-bottom: 15px;
}

.technologies__title {
  font-family: "Clash Display";
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.steps {
  padding: 0;
  margin: 0;
}

.steps__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  margin-bottom: 180px;
}

.steps__starts {
  height: 100%;
}

.steps__star:first-of-type {
  top: 15px;
  left: 220px;
  width: 24px;
  height: 27px;
}

.steps__star:nth-of-type(2) {
  top: 435px;
  left: 40px;
  width: 14px;
  height: 16px;
}

.steps__star:nth-of-type(3) {
  top: 435px;
  right: -40px;
  width: 21px;
  height: 24px;
}

.steps__star:nth-of-type(4) {
  top: 550px;
  right: 355px;
  width: 14px;
  height: 16px;
}

.steps__star:nth-of-type(5) {
  bottom: 350px;
  right: 55px;
  width: 14px;
  height: 16px;
}

.steps__wrapper::before {
  content: "";
  position: absolute;
  top: 435px;
  left: -75px;
  width: 398px;
  height: 398px;
  background-color: #2A3E84;
  -webkit-filter: blur(175px);
          filter: blur(175px);
}

.steps.small-title {
  margin-bottom: 55px;
}

.steps__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.steps__list::before {
  content: "";
  position: absolute;
  top: 100px;
  left: 50%;
  width: 4px;
  bottom: 90px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1FF2FF), color-stop(52.66%, #27F9E5), to(#2FFFCD));
  background-image: -o-linear-gradient(top, #1FF2FF 0%, #27F9E5 52.66%, #2FFFCD 100%);
  background-image: linear-gradient(180deg, #1FF2FF 0%, #27F9E5 52.66%, #2FFFCD 100%);
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 5px;
}

.steps__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 490px;
  min-height: 350px;
  padding: 0;
  padding-top: 15px;
  padding-right: 15px;
  margin: 0;
  margin-right: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.steps__card:nth-of-type(2n) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-left: 15px;
  padding-bottom: 15px;
  margin-left: 45px;
  margin-right: 0;
}

.steps__card-wrapper {
  position: relative;
  padding: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.steps__card:nth-of-type(2n) .steps__card-wrapper {
  margin: 0;
  margin-top: 125px;
}

.steps__card-wrapper::before {
  content: "";
  position: absolute;
  width: 104px;
  height: 24px;
}

.steps__card-wrapper::before {
  top: 50%;
  right: -147px;
  background-image: url("../images/icons/pointer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.steps__card:nth-of-type(2n) .steps__card-wrapper::before {
  left: -147px;
  background-image: url("../images/icons/pointer.svg");
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.steps__card:nth-of-type(2n) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.steps__title {
  font-family: "Clash Display";
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 15px;
}

.steps.steps__title {
  margin-bottom: 15px;
}

.steps__text--color {
  color: #A2CBFB;
}

.questions__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-bottom: 180px;
}

.questions__starts {
  height: 100%;
}

.questions__star:first-of-type {
  bottom: 50px;
  left: 90px;
  width: 25px;
  height: 28px;
}

.questions__star:nth-of-type(2) {
  bottom: 15px;
  right: 360px;
  width: 11px;
  height: 12px;
  -webkit-transform: rotate(135);
      -ms-transform: rotate(135);
          transform: rotate(135);
}

.questions__wrapper::before {
  content: "";
  position: absolute;
  top: 50px;
  right: -210px;
  width: 398px;
  height: 398px;
  background-color: #2A3E84;
  -webkit-filter: blur(175px);
          filter: blur(175px);
}

.questions__title-wrapper {
  text-align: center;
  width: 100%;
  margin: 0;
  margin-bottom: 55px;
}

.questions__text {
  padding: 0;
  margin: 0;
  margin-top: 15px;
}

.questions__left {
  width: 490px;
  padding: 0;
  padding: 100px 75px 0;
  margin: 0;
  margin-right: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.questions.text {
  margin-bottom: 55px;
}

.questions__wrapper-image {
  height: 405px;
}

.questions__image {
  width: 100%;
}

.questions__right {
  max-width: 700px;
}

.questions__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.questions__line {
  position: relative;
  padding: 25px;
  padding-right: 30px;
  margin: 0;
  margin-bottom: 25px;
}

.questions__line:last-of-type {
  margin-bottom: 0;
}

.questions__open {
  position: absolute;
  top: 30px;
  right: 25px;
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.questions__open::before,
.questions__open::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  width: 2px;
  height: 100%;
  border-radius: 2px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.questions__open::after {
  -webkit-transform: rotate(90deg) translate(-50%, -50%);
      -ms-transform: rotate(90deg) translate(-50%, -50%);
          transform: rotate(90deg) translate(-50%, -50%);
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
}

.questions__open.active::before {
  display: none;
}

.questions__title {
  font-family: "Clash Display";
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.review__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-bottom: 180px;
}

.review__starts {
  height: 100%;
}

.review__star {
  top: 295px;
  right: -85px;
  width: 25px;
  height: 28px;
}

.review__wrapper::before {
  content: "";
  position: absolute;
  top: -190px;
  left: -85px;
  width: 398px;
  height: 398px;
  background-color: #2A3E84;
  -webkit-filter: blur(175px);
          filter: blur(175px);
}

.review__title-wrapper {
  width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}

.review__left {
  max-width: 395px;
  padding: 0;
  padding-top: 125px;
  margin: 0;
  margin-right: 25px;
}

.review__title {
  font-family: "Clash Display";
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.review__right {
  width: 800px;
}

.slider-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-review__count {
  font-family: "Clash Display";
  margin: 0;
  margin-bottom: 20px;
}

.slider-review__current {
  display: inline-block;
  font-size: 24px;
  line-height: 28.8px;
  padding: 0;
  margin: 0;
  margin-right: 5px;
}

.slider-review__current::after {
  content: "/";
  display: inline-block;
}

.slider-review__all {
  display: inline-block;
  font-size: 16px;
  line-height: 19.2px;
  vertical-align: top;
}

.slider-review__diraction {
  position: relative;
  width: 105px;
}

.slider-review__left,
.slider-review__right {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  background-image: url("../images/icons/border-array.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.slider-review__left::before,
.slider-review__right::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 11px;
  height: 19px;
  background-image: url("../images/icons/array.svg");
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider-review__left::before {
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
      -ms-transform: translate(-50%, -50%) rotate(-180deg);
          transform: translate(-50%, -50%) rotate(-180deg);
}

.slider-review__left {
  left: 0;
}

.slider-review__right {
  right: 0;
}

.slider-review__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.slider-review__line {
  position: relative;
  width: 185px;
  height: 420px;
  padding: 0;
  margin: 0;
  margin-right: 25px;
  border-radius: 16px;
  overflow: hidden;
}

.slider-review__line.active {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.slider-review__line:last-of-type {
  margin-right: 0;
}

.slider-review__line.active .slider-review__image {
  position: relative;
  right: 0;
}

.slider-review__border {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.slider-review__image {
  position: absolute;
  right: -50px;
  height: 100%;
}

.gallery__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-bottom: 180px;
}

.gallery__starts {
  height: 100%;
}

.gallery__star:first-of-type {
  left: 220px;
  bottom: -90px;
  width: 12px;
  height: 14px;
}

.gallery__star:nth-of-type(2) {
  right: 460px;
  bottom: -10px;
  width: 12px;
  height: 14px;
}

.gallery__star:nth-of-type(3) {
  right: 260px;
  bottom: 125px;
  width: 28px;
  height: 33px;
}

.gallery__wrapper::before {
  content: "";
  position: absolute;
  top: 309px;
  left: -105px;
  width: 398px;
  height: 398px;
  background-color: #2A3E84;
  -webkit-filter: blur(175px);
          filter: blur(175px);
  z-index: -1;
}

.gallery__title-wrapper {
  width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}

.gallery-left {
  max-width: 290px;
  margin: 0;
  margin-top: 45px;
  margin-right: 25px;
}

.gallery__image-wrapper {
  border-radius: 16px;
  overflow: hidden;
}

.gallery.text {
  margin: 0;
  margin-bottom: 85px;
}

.gallery-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 900px;
}

.gallery-right__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 140px;
}

.gallery-right__left {
  margin: 0;
  margin-right: 25px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.gallery-right__right .gallery__image-wrapper {
  margin: 0;
  margin-bottom: 25px;
}

.gallery-right__right .gallery__image-wrapper:last-of-type {
  margin-bottom: 0;
}

.contact-us--width {
  max-width: 495px;
}

.contact-us__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 55px 0;
  margin: 0;
  margin-bottom: 180px;
}

.contact-us__wrapper::before {
  content: "";
  position: absolute;
  top: -210px;
  right: -130px;
  width: 398px;
  height: 398px;
  background-color: #2A3E84;
  -webkit-filter: blur(175px);
          filter: blur(175px);
  z-index: -1;
}

.contact-us__title--margin {
  margin-bottom: 15px;
}

.contact-us__text-margin {
  margin-bottom: 25px;
}

.form--width {
  width: 100%;
}

.form__wrapper {
  width: 100%;
}

.form__input-wrapper {
  position: relative;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0;
  padding: 25px;
  margin: 0;
  margin-bottom: 15px;
  color: #fff;
  background-color: transparent;
  border-radius: 8px;
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form__input::-webkit-input-placeholder {
  line-height: 16px;
  color: #A2CBFB;
}

.form__input::-moz-placeholder {
  line-height: 16px;
  color: #A2CBFB;
}

.form__input:-ms-input-placeholder {
  line-height: 16px;
  color: #A2CBFB;
}

.form__input::-ms-input-placeholder {
  line-height: 16px;
  color: #A2CBFB;
}

.form__input::placeholder {
  line-height: 16px;
  color: #A2CBFB;
}

.contact-us__button {
  width: 100%;
}

.footer {
  background-color: rgba(255, 255, 255, 0.05);
  border-top: 1px solid rgba(21, 191, 253, 0.6980392157);
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px 0;
}

.footer__address {
  width: 230px;
  margin: 0;
  margin-right: 195px;
}

.footer__title {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  height: 85px;
  margin: 0 -92px 0 -92px;
}

.footer__line {
  line-height: 0;
  margin: 0 92px 15px 92px;
  margin-bottom: 15px;
}

.footer__line:nth-of-type(3n) {
  margin-bottom: 0;
}

.footer__link {
  font-size: 14px;
  line-height: 17px;
}

.footer__socials {
  width: 155px;
  margin: 0;
  margin-right: auto;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.socials__line {
  position: relative;
  padding: 0;
  margin: 0;
}

.socials__line--facebook {
  width: 14px;
  height: 24px;
}

.socials__line--facebook::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/icons/facebook.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.socials__line--git-lab {
  width: 24px;
  height: 24px;
}

.socials__line--git-lab::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/icons/git-lab.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.socials__line--twitter {
  width: 24px;
  height: 24px;
}

.socials__line--twitter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/icons/twitch.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.socials__line--instagram {
  width: 23px;
  height: 22px;
}

.socials__line--instagram::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/icons/instagram.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}