.steps {
	padding: 0;
	margin: 0;
}

.steps__wrapper {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0;
	margin-bottom: 180px;
}

.stars {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	z-index: -1;
}

.star {
	position: absolute;
	width: 35px;
	height: 40px;
	padding: 0;
	margin: 0;
	background-image: url("../../../public/images/icons/star.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain;
	-webkit-transform: rotate(-170deg);
	-ms-transform: rotate(-170deg);
	transform: rotate(-170deg);
}

.star:first-of-type {
	top: 15px;
	left: 220px;
	width: 24px;
	height: 27px;
}

.star:nth-of-type(2) {
	top: 435px;
	left: 40px;
	width: 14px;
	height: 16px;
}

.star:nth-of-type(3) {
	top: 435px;
	right: -40px;
	width: 21px;
	height: 24px;
}

.star:nth-of-type(4) {
	top: 550px;
	right: 355px;
	width: 14px;
	height: 16px;
}

.star:nth-of-type(5) {
	bottom: 350px;
	right: 55px;
	width: 14px;
	height: 16px;
}

.steps__wrapper::before {
	content: "";
	position: absolute;
	top: 435px;
	left: -75px;
	width: 398px;
	height: 398px;
	background-color: #2A3E84;
	-webkit-filter: blur(175px);
	filter: blur(175px);
}

.steps.small-title {
	margin-bottom: 55px;
}

.small-title {
	font-family: "Clash Display";
  font-size: 32px;
  line-height: 38.4px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.steps__list {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
}

.steps__list::before {
	content: "";
	position: absolute;
	top: 100px;
	left: 50%;
	width: 4px;
	bottom: 90px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#1FF2FF), color-stop(52.66%, #27F9E5), to(#2FFFCD));
	background-image: -o-linear-gradient(top, #1FF2FF 0%, #27F9E5 52.66%, #2FFFCD 100%);
	background-image: linear-gradient(180deg, #1FF2FF 0%, #27F9E5 52.66%, #2FFFCD 100%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	border-radius: 5px;
}

.steps__card {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: start;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 490px;
	min-height: 350px;
	padding: 0;
	padding-top: 15px;
	padding-right: 15px;
	margin: 0;
	margin-right: 45px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.steps__card:nth-of-type(2n) {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: end;
	padding-left: 15px;
	padding-bottom: 15px;
	margin-left: 45px;
	margin-right: 0;
}

.steps__card-wrapper {
	position: relative;
	padding: 25px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.steps__card:nth-of-type(2n) .steps__card-wrapper {
	margin: 0;
	margin-top: 125px;
}

.steps__card-wrapper::before {
	content: "";
	position: absolute;
	width: 104px;
	height: 24px;
}

.steps__card-wrapper::before {
	top: 50%;
	right: -147px;
	background-image: url("../../../public/images/icons/pointer.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.steps__card:nth-of-type(2n) .steps__card-wrapper::before {
	left: -147px;
	background-image: url("../../../public/images/icons/pointer.svg");
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.steps__card:nth-of-type(2n) {
	-ms-flex-item-align: end;
	align-self: flex-end;
}

.steps__title {
	font-family: "Clash Display";
	font-size: 24px;
	line-height: 28.8px;
	font-weight: 500;
	margin: 0;
	margin-bottom: 15px;
	margin-bottom: 15px;
}

.text {
	padding: 0;
	margin: 0;
	color: #A2CBFB;
}

.questions__wrapper {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	margin-bottom: 180px;
}